/* 設定 */
html {
  font-size: 62.5%;
  letter-spacing: 0.5px;
  color: #222;
  font-weight: bold;
  font-family: MercariSans-Bold, Avenir-Black, Arial, TazuganeGothicStdN-Bold,
    "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

li {
  list-style: none;
}

/* header */
header {
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
}

.header-container {
  width: 80%;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-container {
  width: max-content;
}

.header__nav-container__lists {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__nav-container__lists-item:not(:last-of-type) {
  margin-right: 2rem;
}

/* home */
#home {
  color: white;
  height: 51rem;
  width: 100%;
  background: url("../images/homebg.png") center bottom / cover no-repeat;
}

.home-opacity {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-container {
  width: 80%;
  margin: 0 auto;
}

.home__discription {
  padding-top: 10rem;
  width: max-content;
}

.home__discription__sub-title {
  font-weight: bold;
}

/* aboutme */
.aboutme-container {
  width: 80%;
  margin: 0 auto;
}

.aboutme__title {
  padding-top: 2rem;
  border-bottom: 0.1rem solid #333;
}

.aboutme__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutme__q-and-a {
  width: 30%;
  margin-top: 4rem;
}

.aboutme-question {
  border-bottom: 0.1rem solid #333;
  font-size: 1.5em;
  margin-bottom: 3rem;
}

.aboutme-answer {
  font-size: 1.2em;
}

.aboutme__q-and-a__hobby {
  position: relative;
}

.aboutme__answer__countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutme__answer__country-img {
  width: 30%;
  z-index: 1;
}

#aboutme__answer__trip {
  margin-bottom: 1rem;
  border-bottom: #333 solid 0.1rem;
}

#aboutme__answer__trip::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-top: #333 solid 0.2rem;
  border-right: #333 solid 0.2rem;
  position: absolute;
  top: 5.8rem;
  right: 1rem;
  transform: rotate(-45deg);
}

.aboutme__answer__country {
  width: 30%;
  margin-bottom: 1rem;
}
